@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', san-serif;
  line-height: 1.5;
  color: #626262;
}

a {
  text-decoration: none;
  color: #2BAAEC;
}

a:hover {
  color: #25E6C8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  color: #363636;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  }

  .btn {
    background-color: #2BAAEC;
    color: #fff;
  }

  /* .btn-primary {
    background-color: #2BAAEC;
    color: #fff;
  } */

  .btn:hover {
    background-color: #25E6C8;
  }

  .top-nav {
    border-bottom: 1px solid #707070;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }

  .top-nav .container, .navbar .container, .hours, .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    padding: 0.5rem;
  }

  .container .hours i, .container .icons {
    color: #2BAAEC;
  }

  .container .icons:hover {
    color: #25E6C8;
  }

  .container .hours i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  

  .hours i {
  display: inline-block;
  margin-right: 0.5em;
  }

  .icons i {
    display: inline-block;
    margin-left: 1.2em;
    }

 .navbar-nav {
   list-style: none;
   display: flex;
   justify-content: center;
   font-size: 1.1rem;
   font-family: 'roboto Slab', serif;
 }

.navbar-brand img {
  height: 4rem;
}

 .nav-link {
   padding: 1rem 0rem 1rem 1rem;
   display: inline-block;
 }

.navbar-nav a{
  color: #363636;
}

  #showcase {
    background: #DEDEDE;
  }

  #showcase .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
  }

  #showcase .container img {
    margin-top: 1.25rem;
  }

  .content {
    align-self: center;
    text-align: left;
    padding: 3rem;
    height: 100%;
  }

  .text {
    margin-bottom: 3rem;
    
  }

  .text h1 {
    font-size: 3rem;
    font-weight: normal;
    line-height: 3.5rem;
  }

  .text p {
    font-size: 0.8rem;
    margin-top: 2rem;
  }

  .content .btn {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #25E6C8;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 1.2rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .content .btn:hover {
    color: #fff;
    background-color: #2BAAEC;
  }

  /* dela upp bilden och h1 med text och knapp i 2 boxar. vänsterställ högerboxen så texten börjar på mitten av skärmen */

  @media (min-width: 576px) {
    .container, .container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container{
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container{
      max-width: 1140px;
    }
  }